
body{
    color:Green;
    text-align: center;
    background: url(../img/Logo-LOGIN.jpg)no-repeat center center;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-size: cover;
}
